.movie-search-label {
  display: block;
}

.movie-search-input {
  display: block;
  width: 100%;
}

.main-menu-buttons {
  display: flex;
  justify-content: space-between;
}

.result-form-buttons {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.result-form-not-found {
  display: flex;
  justify-content: center;
}

.main-menu-form {
  width: 75%;
  margin: 0 auto;
}

.items-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3%;
}

.item-poster {
  flex-basis: 30%;
  margin-bottom: 1%;
}

.item-image {
  max-width: 100%;
}

.item-name_date {
  display: flex;
  justify-content: space-between;
}

.movie-details_form {
  width: 50%;
  margin: 0 auto;
}

.movie-details_search {
  display: flex;
  justify-content: flex-end;
}

.movie-details_image {
  max-width: 200px;
  padding: 0 20px;
}

.movie-details_description {
  flex-grow: 1;
  padding: 0 20px;
}

.movie-details {
  display: flex;
  justify-content: space-between;
}